<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FoodCart.Properties.Settings.ConnectionString" connectionString="Dsn=PostgresDB;uid=postgres;pwd=wallhack"
            providerName="System.Data.Odbc" />
        <add name="FoodCart.Properties.Settings.FoodCartDBConnectionString"
            connectionString="Driver={Devart ODBC Driver for PostgreSQL};data source=localhost;database=FoodCartDB;user id=postgres;pwd=wallhack;schema=FoodCartDB;uid=postgres;password=$x0&gt;O`1tH#$AEE282324$"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>